In [1]:
import pandas as pd
import numpy as np

weather_data = {
    'day': ['1/1/2020', '1/2/2020', '1/3/2020', '1/4/2020', '1/5/2020', '1/6/2020'],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny'],
    'windspeed': [6,7,2,7,4,2],
    'temperature': [32,35,28,24,32,31]
}

# creating DataFrame from Dictionary
df = pd.DataFrame(weather_data)
df

        day  event  windspeed  temperature
0  1/1/2020   Rain          6           32
1  1/2/2020  Sunny          7           35
2  1/3/2020   Snow          2           28
3  1/4/2020   Snow          7           24
4  1/5/2020   Rain          4           32
5  1/6/2020  Sunny          2           31

In [5]:
# check size of DataFrame
row, col = df.shape
print(df.shape)

(6, 4)

In [7]:
# check first few rows
df.head(3)

        day  event  windspeed  temperature
0  1/1/2020   Rain          6           32
1  1/2/2020  Sunny          7           35
2  1/3/2020   Snow          2           28

In [11]:
# check last few rows
df.tail(2)

        day  event  windspeed  temperature
4  1/5/2020   Rain          4           32
5  1/6/2020  Sunny          2           31

In [17]:
df[2:5]

        day event  windspeed  temperature
2  1/3/2020  Snow          2           28
3  1/4/2020  Snow          7           24
4  1/5/2020  Rain          4           32

In [15]:
# check no. of columns
df.columns

Index(['day', 'event', 'windspeed', 'temperature'], dtype='object')

In [19]:
# check particular columns value
df['day']   # or df.day

0    1/1/2020
1    1/2/2020
2    1/3/2020
3    1/4/2020
4    1/5/2020
5    1/6/2020
Name: day, dtype: object

In [21]:
# type of column in DataFrame
type(df['event'])

pandas.core.series.Series

In [23]:
# print some columns
df[['event', 'day', 'temperature']]

   event       day  temperature
0   Rain  1/1/2020           32
1  Sunny  1/2/2020           35
2   Snow  1/3/2020           28
3   Snow  1/4/2020           24
4   Rain  1/5/2020           32
5  Sunny  1/6/2020           31

In [25]:
# maximum of temperature
df['temperature'].max()

35

In [27]:
# average of temperature
df['temperature'].mean()

30.333333333333332

In [28]:
# standard deviation of temperature
df['temperature'].std()

3.8297084310253524

In [29]:
# to print statistics of df
df.describe()

       windspeed  temperature
count   6.000000     6.000000
mean    4.666667    30.333333
std     2.338090     3.829708
min     2.000000    24.000000
25%     2.500000    28.750000
50%     5.000000    31.500000
75%     6.750000    32.000000
max     7.000000    35.000000

In [31]:
# conditionaly select the dataframe
df[df.temperature >= 32]

        day  event  windspeed  temperature
0  1/1/2020   Rain          6           32
1  1/2/2020  Sunny          7           35
4  1/5/2020   Rain          4           32

In [40]:
# df[df.temperature == df['temperature'].max()]
df[['day', 'temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2020           35

In [53]:
# check index in dataframe
df.index
# df.reset_index()

        day  event  windspeed  temperature
0  1/1/2020   Rain          6           32
1  1/2/2020  Sunny          7           35
2  1/3/2020   Snow          2           28
3  1/4/2020   Snow          7           24
4  1/5/2020   Rain          4           32
5  1/6/2020  Sunny          2           31

In [66]:
# set index in dataframe and modify the original dataframe
# df.reset_index(inplace=True)
df.set_index('day', inplace=True) # this is kind of building a hash map using event as a key
df

          index  event  windspeed  temperature
day
1/1/2020      0   Rain          6           32
1/2/2020      1  Sunny          7           35
1/3/2020      2   Snow          2           28
1/4/2020      3   Snow          7           24
1/5/2020      4   Rain          4           32
1/6/2020      5  Sunny          2           31

In [63]:
df.loc['1/6/2020']

event          Sunny
windspeed          2
temperature       31
Name: 1/6/2020, dtype: object

In [67]:
# reset index in dataframe and modify the original dataframe
df.reset_index(inplace=True)
df

        day  index  event  windspeed  temperature
0  1/1/2020      0   Rain          6           32
1  1/2/2020      1  Sunny          7           35
2  1/3/2020      2   Snow          2           28
3  1/4/2020      3   Snow          7           24
4  1/5/2020      4   Rain          4           32
5  1/6/2020      5  Sunny          2           31

In [68]:
df.set_index('event', inplace=True) # this is kind of building a hash map using event as a key
df

            day  index  windspeed  temperature
event
Rain   1/1/2020      0          6           32
Sunny  1/2/2020      1          7           35
Snow   1/3/2020      2          2           28
Snow   1/4/2020      3          7           24
Rain   1/5/2020      4          4           32
Sunny  1/6/2020      5          2           31

In [69]:
df.loc['Snow']

            day  index  windspeed  temperature
event
Snow   1/3/2020      2          2           28
Snow   1/4/2020      3          7           24